@model Candy

<form asp-action="Add" method="Post" class="form-horizontal" role="form">
    <h4>Add new @Model.Category.Name</h4>
    <partial name="_CandyForm" model="@Model" />

    @Html.HiddenFor(x => x.CategoryId)
    @Html.HiddenFor(x => x.Category.Name)
</form>