@model Candy

<div asp-validation-summary="All" class="danger"></div>
<div class="form-group">
    <label asp-for="Name" class="col-md-2 control-label"></label>
    <div class="col-md-5">
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Description" class="col-md-2 control-label"></label>
    <div class="col-md-5">
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="Price" class="col-md-2 control-label"></label>
    <div class="col-md-5">
        <input asp-for="Price" class="form-control" />
        <span asp-validation-for="Price" class="danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="ImageUrl" class="col-md-2 control-label"></label>
    <div class="col-md-5">
        <input asp-for="ImageUrl" class="form-control" />
        <span asp-validation-for="ImageUrl" class="danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="ImageThumbnailUrl" class="col-md-2 control-label"></label>
    <div class="col-md-5">
        <input asp-for="ImageThumbnailUrl" class="form-control" />
        <span asp-validation-for="ImageThumbnailUrl" class="danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="IsOnSale" class="col-md-2 control-label"></label>
    <div class="col-md-5">
        <input asp-for="IsOnSale" class="form-control" />
        <span asp-validation-for="IsOnSale" class="danger"></span>
    </div>
</div>
<div class="form-group">
    <label asp-for="IsInStock" class="col-md-2 control-label"></label>
    <div class="col-md-5">
        <input asp-for="IsInStock" class="form-control" />
        <span asp-validation-for="IsInStock" class="danger"></span>
    </div>
</div>
<div class="form-group">
    <div class="col-md-offset-2 col-md-5">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</div>